<h1>My Shopping Cart</h1>

<div class="container">
  {{#each products}}
    <div class="card mb-3">
      <div class="card-body">
        <p class="card-text">Product: {{this.product.title}}</p>
        <p class="card-text">Quantity: {{this.quantity}}</p>
        <p class="card-text">Price: ${{this.product.totalPrice}}</p>
        <button
          onclick="deleteProduct('{{this.cartId}}', '{{this.product._id}}')"
          class="btn btn-primary"
        >Delete</button>
      </div>
    </div>
  {{/each}}
</div>
<div class="d-flex justify-content-center flex-column mb-3 align-items-center">
<div class="d-flex justify-content-center flex-column mb-3 align-items-center">
<button onclick="emptyCart('{{cartId}}')" class="btn btn-primary mt-2" style="width: 200px">Empty Cart</button>
<h3 class="mt-3">Total $ {{totalPurchase}}</h3>

<form method="post" action="/api/carts/{{cartId}}/purchase">
    <button type="submit" class="btn btn-primary mt-2">Checkout</button>
</form>
</div>
</div>
<script>
    function deleteProduct(cartId, productId) {
        fetch(`/api/carts/${cartId}/product/${productId}`, {
            method: 'DELETE'
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Delete Product Error');
                }
                location.reload();
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    function emptyCart(cartId) {
        fetch(`/api/carts/${cartId}`, {
            method: 'DELETE'
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Empty Cart Error');
                }
                location.reload();
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
</script>