<h1>Products List</h1>
<div class="containerProducts">
  {{#each products}}
    <div class="card" style="width: 25rem;">
      <div class="card-body">
        <h2 class="card-title">{{title}}</h2>
        <p class="card-text"> {{_id}} </p>
        <p class="card-text">{{description}}</p>
        <p class="card-text">Category: {{category}} </p>
        <p class="card-text">${{price}}</p>
        <a href="#" class="btn btn-primary">Add to Cart</a>
      </div>
    </div>
  {{/each}}
</div>
{{#if hasPrevPage}}
  <a href="/products?page={{prevPage}}"> Prev</a>
{{/if}}
{{#if hasNextPage}}
  <a href="/products?page={{nextPage}}"> Next </a>
{{/if}}

<p>Page {{currentPage}} of {{totalPages}} </p>