<h1>Products List</h1>
<div class="containerProducts">
  {{#each products}}
    <div class="card" style="width: 25rem;">
      <div class="card-body">
        <img src="{{img}}" alt="" class="card-img-top" />
        <h2 class="card-title">{{title}}</h2>
        <p class="card-text"> {{_id}} </p>
        <p class="card-text">{{description}}</p>
        <p class="card-text">Category: {{category}} </p>
        <p class="card-text">${{price}}</p>
        <form action="/api/carts/{{../cartId}}/product/{{id}}" method="POST">
          <button class="btn btn-primary" type="submit">Add to Cart</button>
        </form>
      </div>
    </div>
  {{/each}}
</div>
{{#if hasPrevPage}}
  <a class="btn btn-primary m-2" href="/products?page={{prevPage}}"> Prev</a>
{{/if}}
{{#if hasNextPage}}
  <a class="btn btn-primary m-2" href="/products?page={{nextPage}}"> Next </a>
{{/if}}

<p class="m-4">Page {{currentPage}} of {{totalPages}} </p>

<a class="btn btn-primary m-2" href="/login">Logout</a>