<h2 class="m-4">My Profile</h2>
<p class="m-4">Welcome, {{user.first_name}} {{user.last_name}}!</p>

<h1>Products List</h1>
<div class="containerProducts">
  {{#each products}}
    <div class="card" style="width: 25rem;">
      <div class="card-body">
        <h2 class="card-title">{{title}}</h2>
        <p class="card-text"> {{_id}} </p>
        <p class="card-text">{{description}}</p>
        <p class="card-text">Category: {{category}} </p>
        <p class="card-text">${{price}}</p>
        <a href="#" class="btn btn-primary">Add to Cart</a>
      </div>
    </div>
  {{/each}}
</div>
{{#if hasPrevPage}}
  <a class="btn btn-primary m-2" href="/products?page={{prevPage}}"> Prev</a>
{{/if}}
{{#if hasNextPage}}
  <a class="btn btn-primary m-2" href="/products?page={{nextPage}}"> Next </a>
{{/if}}

<p class="m-4">Page {{currentPage}} of {{totalPages}} </p>

<a class="btn btn-primary m-2" href="/api/sessions/logout">Logout</a>